In [1]:
import pandas as pd

### 기본 정보 알아보기

In [2]:
myfile = 'kpop_idols.csv'
df = pd.read_csv(myfile)

In [3]:
df

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Birthplace,Other Group,Gender
0,A.M,Seong Hyunwoo,성현우,에이엠,1996-12-31,Limitless,South Korea,NaN,NaN,M
1,Ace,Jang Wooyoung,장우영,에이스,1992-08-28,VAV,South Korea,NaN,NaN,M
2,Aeji,Kwon Aeji,권애지,애지,1999-10-25,Hashtag,South Korea,Daegu,NaN,F
3,AhIn,Lee Ahin,이아인,아인,1999-09-27,MOMOLAND,South Korea,Wonju,NaN,F
4,Ahra,Go Ahra,고아라,아라,2001-02-21,Favorite,South Korea,Yeosu,NaN,F
...,...,...,...,...,...,...,...,...,...,...
1305,Ziu,Park Heejun,박희준,지우,1997-06-16,VAV,South Korea,NaN,NaN,M
1306,ZN,Bae Jinye,배진예,지엔,1994-06-09,LABOUM,South Korea,Bucheon,UNI.T,F
1307,Zoa,Cho Hyewon,조혜원,조아,2005-05-31,Weeekly,South Korea,NaN,NaN,F
1308,Zuho,Bae Juho,백주호,주호,1996-07-04,SF9,South Korea,NaN,NaN,M
1309,Zuny,Kim Joomi,김주미,주니,1994-12-08,Ladies' Code,South Korea,Gwangju,NaN,F

### index, column, info

1.1. column 출력하기

In [4]:
df.columns

Index(['Stage Name', 'Full Name', 'Korean Name', 'K. Stage Name',
       'Date of Birth', 'Group', 'Country', 'Birthplace', 'Other Group',
       'Gender'],
      dtype='object')

1.2. column 이름 재정의 하기

In [5]:
new_col = ['활동명', 'Full Name', 'Korean Name', 'K. Stage Name',
       'Date of Birth', 'Group', 'Country', 'Birthplace', 'Other Group',
       'Gender']
df.columns = new_col
df.columns

Index(['활동명', 'Full Name', 'Korean Name', 'K. Stage Name', 'Date of Birth',
       'Group', 'Country', 'Birthplace', 'Other Group', 'Gender'],
      dtype='object')

2.1. index(행) 출력하기

In [6]:
df.index

RangeIndex(start=0, stop=1310, step=1)

2.2. info는 기본적인 행의 정보와 데이터 타입을 알려줌.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   활동명            1310 non-null   object
 1   Full Name      1304 non-null   object
 2   Korean Name    1304 non-null   object
 3   K. Stage Name  1309 non-null   object
 4   Date of Birth  1310 non-null   object
 5   Group          1219 non-null   object
 6   Country        1310 non-null   object
 7   Birthplace     689 non-null    object
 8   Other Group    122 non-null    object
 9   Gender         1310 non-null   object
dtypes: object(10)
memory usage: 102.5+ KB

3. 통계 정보 알아보기(describe)

In [8]:
df.describe()

,활동명,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Birthplace,Other Group,Gender
count,1310,1304,1304,1309,1310,1219,1310,689,122,1310
unique,1135,1251,1241,1082,1181,208,12,135,55,2
top,Jisoo,Lee Minhyuk,이서영,유진,2001-11-13,NCT,South Korea,Seoul,Super Junior-M,M
freq,4,3,3,5,3,18,1204,188,6,676

4. 형태 알아보기(shape)
    - shape은 tuple로 반환되면, row x column 숫자로 반환

In [9]:
df.shape

(1310, 10)

5. 상위 5개, 하위 5개만 보기

In [10]:
df.head()

,활동명,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Birthplace,Other Group,Gender
0,A.M,Seong Hyunwoo,성현우,에이엠,1996-12-31,Limitless,South Korea,NaN,NaN,M
1,Ace,Jang Wooyoung,장우영,에이스,1992-08-28,VAV,South Korea,NaN,NaN,M
2,Aeji,Kwon Aeji,권애지,애지,1999-10-25,Hashtag,South Korea,Daegu,NaN,F
3,AhIn,Lee Ahin,이아인,아인,1999-09-27,MOMOLAND,South Korea,Wonju,NaN,F
4,Ahra,Go Ahra,고아라,아라,2001-02-21,Favorite,South Korea,Yeosu,NaN,F

In [11]:
df.tail()

,활동명,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Birthplace,Other Group,Gender
1305,Ziu,Park Heejun,박희준,지우,1997-06-16,VAV,South Korea,NaN,NaN,M
1306,ZN,Bae Jinye,배진예,지엔,1994-06-09,LABOUM,South Korea,Bucheon,UNI.T,F
1307,Zoa,Cho Hyewon,조혜원,조아,2005-05-31,Weeekly,South Korea,NaN,NaN,F
1308,Zuho,Bae Juho,백주호,주호,1996-07-04,SF9,South Korea,NaN,NaN,M
1309,Zuny,Kim Joomi,김주미,주니,1994-12-08,Ladies' Code,South Korea,Gwangju,NaN,F

In [12]:
df.head(10)

,활동명,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Birthplace,Other Group,Gender
0,A.M,Seong Hyunwoo,성현우,에이엠,1996-12-31,Limitless,South Korea,NaN,NaN,M
1,Ace,Jang Wooyoung,장우영,에이스,1992-08-28,VAV,South Korea,NaN,NaN,M
2,Aeji,Kwon Aeji,권애지,애지,1999-10-25,Hashtag,South Korea,Daegu,NaN,F
3,AhIn,Lee Ahin,이아인,아인,1999-09-27,MOMOLAND,South Korea,Wonju,NaN,F
4,Ahra,Go Ahra,고아라,아라,2001-02-21,Favorite,South Korea,Yeosu,NaN,F
5,Ahyoung,Cho Jayoung,조자영,아영,1991-05-26,Dal Shabet,South Korea,Seoul,NaN,F
6,Ahyung,Kang Ahyoung,강아형,아형,1996-08-27,P.O.P,South Korea,Pohang,NaN,F
7,Ailee,Lee Yejin,이예진,에일리,1989-05-30,NaN,South Korea,Denver,NaN,F
8,Aini,Kim Heejung,김희정,아이니,1991-07-13,Pink Fantasy,South Korea,NaN,NaN,F
9,Aisha,Heo Yoorim,허유림,아샤,2000-07-21,Everglow,South Korea,NaN,NaN,F

6. 정렬하기

In [13]:
# 오름차순
df.sort_index()

,활동명,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Birthplace,Other Group,Gender
0,A.M,Seong Hyunwoo,성현우,에이엠,1996-12-31,Limitless,South Korea,NaN,NaN,M
1,Ace,Jang Wooyoung,장우영,에이스,1992-08-28,VAV,South Korea,NaN,NaN,M
2,Aeji,Kwon Aeji,권애지,애지,1999-10-25,Hashtag,South Korea,Daegu,NaN,F
3,AhIn,Lee Ahin,이아인,아인,1999-09-27,MOMOLAND,South Korea,Wonju,NaN,F
4,Ahra,Go Ahra,고아라,아라,2001-02-21,Favorite,South Korea,Yeosu,NaN,F
...,...,...,...,...,...,...,...,...,...,...
1305,Ziu,Park Heejun,박희준,지우,1997-06-16,VAV,South Korea,NaN,NaN,M
1306,ZN,Bae Jinye,배진예,지엔,1994-06-09,LABOUM,South Korea,Bucheon,UNI.T,F
1307,Zoa,Cho Hyewon,조혜원,조아,2005-05-31,Weeekly,South Korea,NaN,NaN,F
1308,Zuho,Bae Juho,백주호,주호,1996-07-04,SF9,South Korea,NaN,NaN,M
1309,Zuny,Kim Joomi,김주미,주니,1994-12-08,Ladies' Code,South Korea,Gwangju,NaN,F

In [14]:
#내림차순
df.sort_index(ascending=False)

,활동명,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Birthplace,Other Group,Gender
1309,Zuny,Kim Joomi,김주미,주니,1994-12-08,Ladies' Code,South Korea,Gwangju,NaN,F
1308,Zuho,Bae Juho,백주호,주호,1996-07-04,SF9,South Korea,NaN,NaN,M
1307,Zoa,Cho Hyewon,조혜원,조아,2005-05-31,Weeekly,South Korea,NaN,NaN,F
1306,ZN,Bae Jinye,배진예,지엔,1994-06-09,LABOUM,South Korea,Bucheon,UNI.T,F
1305,Ziu,Park Heejun,박희준,지우,1997-06-16,VAV,South Korea,NaN,NaN,M
...,...,...,...,...,...,...,...,...,...,...
4,Ahra,Go Ahra,고아라,아라,2001-02-21,Favorite,South Korea,Yeosu,NaN,F
3,AhIn,Lee Ahin,이아인,아인,1999-09-27,MOMOLAND,South Korea,Wonju,NaN,F
2,Aeji,Kwon Aeji,권애지,애지,1999-10-25,Hashtag,South Korea,Daegu,NaN,F
1,Ace,Jang Wooyoung,장우영,에이스,1992-08-28,VAV,South Korea,NaN,NaN,M
0,A.M,Seong Hyunwoo,성현우,에이엠,1996-12-31,Limitless,South Korea,NaN,NaN,M

7. Sort by Column

In [15]:
df.sort_values(by = 'Full Name')

,활동명,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Birthplace,Other Group,Gender
313,Haru,Abe Haruno,아베 하루노,하루,2000-02-21,NATURE,Japan,NaN,NaN,F
1297,Yuto,Adachi Yuto,아다치 유토,유토,1998-01-23,PENTAGON,Japan,NaN,NaN,M
1201,Yeoreum,Ahn Chaeyeon,안채연,여름,1996-06-04,Hello Venus,South Korea,NaN,NaN,F
832,Niel,Ahn Daniel,안다니엘,니엘,1994-08-16,Teen Top,South Korea,Anyang,NaN,M
226,Eunjin,Ahn Eunjin,안은진,은진,1997-08-31,NaN,South Korea,Mokpo,NaN,F
...,...,...,...,...,...,...,...,...,...,...
442,Isol,NaN,NaN,이솔,1997-05-01,Lusty,South Korea,Seoul,NaN,F
529,Jinhui,NaN,NaN,진희,1996-11-21,Lusty,South Korea,Seongnam,NaN,F
764,Mini,NaN,NaN,민이,2000-06-12,Purplebeck,South Korea,NaN,NaN,F
1212,Yeryung,NaN,NaN,예령,2002-06-22,Lusty,South Korea,Busan,NaN,F
1246,Yoonji,NaN,NaN,윤지,1998-07-21,Lusty,South Korea,NaN,NaN,F

ascending = False 로 내림차순도 가능

### 복수 정렬

In [16]:
df.sort_values(by = ['Full Name', 'Birthplace'])

,활동명,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Birthplace,Other Group,Gender
313,Haru,Abe Haruno,아베 하루노,하루,2000-02-21,NATURE,Japan,NaN,NaN,F
1297,Yuto,Adachi Yuto,아다치 유토,유토,1998-01-23,PENTAGON,Japan,NaN,NaN,M
1201,Yeoreum,Ahn Chaeyeon,안채연,여름,1996-06-04,Hello Venus,South Korea,NaN,NaN,F
832,Niel,Ahn Daniel,안다니엘,니엘,1994-08-16,Teen Top,South Korea,Anyang,NaN,M
226,Eunjin,Ahn Eunjin,안은진,은진,1997-08-31,NaN,South Korea,Mokpo,NaN,F
...,...,...,...,...,...,...,...,...,...,...
529,Jinhui,NaN,NaN,진희,1996-11-21,Lusty,South Korea,Seongnam,NaN,F
310,Harin,NaN,NaN,하린,1995-11-21,Lusty,South Korea,Seoul,NaN,F
442,Isol,NaN,NaN,이솔,1997-05-01,Lusty,South Korea,Seoul,NaN,F
764,Mini,NaN,NaN,민이,2000-06-12,Purplebeck,South Korea,NaN,NaN,F
1246,Yoonji,NaN,NaN,윤지,1998-07-21,Lusty,South Korea,NaN,NaN,F