In [1]:
#데이터프레임 로드
import pandas as pd
myfile = 'kpop_idols.csv'
df = pd.read_csv(myfile)

#  Copy

In [2]:
df.head()

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Birthplace,Other Group,Gender
0,A.M,Seong Hyunwoo,성현우,에이엠,1996-12-31,Limitless,South Korea,NaN,NaN,M
1,Ace,Jang Wooyoung,장우영,에이스,1992-08-28,VAV,South Korea,NaN,NaN,M
2,Aeji,Kwon Aeji,권애지,애지,1999-10-25,Hashtag,South Korea,Daegu,NaN,F
3,AhIn,Lee Ahin,이아인,아인,1999-09-27,MOMOLAND,South Korea,Wonju,NaN,F
4,Ahra,Go Ahra,고아라,아라,2001-02-21,Favorite,South Korea,Yeosu,NaN,F

In [4]:
new_df = df
new_df.head()

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Birthplace,Other Group,Gender
0,A.M,Seong Hyunwoo,성현우,에이엠,1996-12-31,Limitless,South Korea,NaN,NaN,M
1,Ace,Jang Wooyoung,장우영,에이스,1992-08-28,VAV,South Korea,NaN,NaN,M
2,Aeji,Kwon Aeji,권애지,애지,1999-10-25,Hashtag,South Korea,Daegu,NaN,F
3,AhIn,Lee Ahin,이아인,아인,1999-09-27,MOMOLAND,South Korea,Wonju,NaN,F
4,Ahra,Go Ahra,고아라,아라,2001-02-21,Favorite,South Korea,Yeosu,NaN,F

In [5]:
new_df['Full Name'] = 0
new_df.head()

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Birthplace,Other Group,Gender
0,A.M,0,성현우,에이엠,1996-12-31,Limitless,South Korea,NaN,NaN,M
1,Ace,0,장우영,에이스,1992-08-28,VAV,South Korea,NaN,NaN,M
2,Aeji,0,권애지,애지,1999-10-25,Hashtag,South Korea,Daegu,NaN,F
3,AhIn,0,이아인,아인,1999-09-27,MOMOLAND,South Korea,Wonju,NaN,F
4,Ahra,0,고아라,아라,2001-02-21,Favorite,South Korea,Yeosu,NaN,F

In [6]:
df.head()

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Birthplace,Other Group,Gender
0,A.M,0,성현우,에이엠,1996-12-31,Limitless,South Korea,NaN,NaN,M
1,Ace,0,장우영,에이스,1992-08-28,VAV,South Korea,NaN,NaN,M
2,Aeji,0,권애지,애지,1999-10-25,Hashtag,South Korea,Daegu,NaN,F
3,AhIn,0,이아인,아인,1999-09-27,MOMOLAND,South Korea,Wonju,NaN,F
4,Ahra,0,고아라,아라,2001-02-21,Favorite,South Korea,Yeosu,NaN,F

위에서 볼 수 있다시피, copy를 할 경우 원본이 영향을 받는다.
### 이 이유는 같은 메모리 주소를 참조하기 때문!!!

In [8]:
hex(id(df))

'0x1c9a14d5970'

In [10]:
hex(id(new_df))

'0x1c9a14d5970'

In [11]:
print(hex(id(df)) == hex(id(new_df)))

True

# 그래서 원본을 유지하기 위해 copy를 사용

In [13]:
df = pd.read_csv(myfile)
copy_df = df.copy()
copy_df.head()

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Birthplace,Other Group,Gender
0,A.M,Seong Hyunwoo,성현우,에이엠,1996-12-31,Limitless,South Korea,NaN,NaN,M
1,Ace,Jang Wooyoung,장우영,에이스,1992-08-28,VAV,South Korea,NaN,NaN,M
2,Aeji,Kwon Aeji,권애지,애지,1999-10-25,Hashtag,South Korea,Daegu,NaN,F
3,AhIn,Lee Ahin,이아인,아인,1999-09-27,MOMOLAND,South Korea,Wonju,NaN,F
4,Ahra,Go Ahra,고아라,아라,2001-02-21,Favorite,South Korea,Yeosu,NaN,F

In [14]:
hex(id(df))

'0x1c9a21b7f70'

In [16]:
hex(id(copy_df))

'0x1c99f1d7a00'

In [17]:
print(hex(id(df)) == hex(id(copy_df)))

False